/Guide.xlsx
/Micropuzzle UML Class Diagram.png
/NClass_v2.04_bin/bin/Lang/NClass.Translations.dll
/NClass_v2.04_bin/bin/Lang/de/NClass.Translations.resources.dll
/NClass_v2.04_bin/bin/Lang/es/NClass.Translations.resources.dll
/NClass_v2.04_bin/bin/Lang/hu/NClass.Translations.resources.dll
/NClass_v2.04_bin/bin/Lang/pt-BR/NClass.Translations.resources.dll
/NClass_v2.04_bin/bin/Lang/ru/NClass.Translations.resources.dll
/NClass_v2.04_bin/bin/Lang/zh-CN/NClass.Translations.resources.dll
/NClass_v2.04_bin/bin/NClass.CSharp.dll
/NClass_v2.04_bin/bin/NClass.CodeGenerator.dll
/NClass_v2.04_bin/bin/NClass.Core.dll
/NClass_v2.04_bin/bin/NClass.DiagramEditor.dll
/NClass_v2.04_bin/bin/NClass.Java.dll
/NClass_v2.04_bin/bin/NClass.exe
/NClass_v2.04_bin/bin/NClass.exe.config
/NClass_v2.04_bin/bin/Plugins/AssemblyImport.dll
/NClass_v2.04_bin/bin/Plugins/NReflect.dll
/NClass_v2.04_bin/bin/Plugins/PDFExport.dll
/NClass_v2.04_bin/bin/Plugins/PdfSharp.dll
/NClass_v2.04_bin/bin/Plugins/de/AssemblyImport.resources.dll
/NClass_v2.04_bin/bin/Plugins/de/PDFExport.resources.dll
/NClass_v2.04_bin/bin/Templates/csproj.template
/NClass_v2.04_bin/bin/Templates/sln.template
/NClass_v2.04_bin/bin/diagram.ico
/NClass_v2.04_bin/doc/changelog.txt
/NClass_v2.04_bin/doc/license.txt
/NClass_v2.04_bin/doc/readme.txt
/NClass_v2.04_bin/examples/shapes.ncp
/NClass_v2.04_bin/styles/Visual Studio Class Designer (ClearType).dst
/NClass_v2.04_bin/styles/Visual Studio Class Designer.dst
/Report.docx
/UML Diagram.ncp
/ipch/assignment 3-598e17e1/assignment 3-d7e0cad8.ipch
